body{  
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
font-size:  medium;
}

#refServicos{
  color: #fff;
  font-weight: bold;
}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}


#orcamento{
  color: white;
}
section {
  padding: 150px 0;
}


.servicos
{
 padding: 60px 0;
}

.footer-top {
  padding: 60px 0 40px 0;
  text-align: center;
}

.footer-top h3 {
  padding-bottom: 10px;
}

.footer-contact p {
  word-wrap: break-word;
  border: 0;
  border-bottom: 0px transparent;
}

.footer-contact i {
  padding-right: 10px;
  font-size: 18px;
  color: #fff;
  border: 0;
  border-bottom: 0px transparent;
}

.footer-contact p a {
  color: #fff;
  border: 0;
  border-bottom: 0px transparent;
}

.footer-contact p a:hover,
.footer-contact p a:focus {
  border: 0px;
  border-bottom: 0px transparent;
}

.footer-links a {
  color: #fff;
  border: 0;
}

.footer-links a:hover,
.footer-links a:focus {
  color: #888;
  margin-left: 3px;
}

.footer-bottom {
  padding: 0 0 60px 0;
}

.footer-social a {
  margin: 0 5px;
  color: #bbb;
  border: 0;
}

.footer-social a:hover,
.footer-social a:focus {
  color: #555;
  border: 0;
}

.footer-social i {
  font-size: 24px;
  vertical-align: middle;
}


  



.form-div {
  margin-top: 50px;
  align-content: center;
  text-align: center;
}

.input-label {
  background: gray;
  color: #fff;
  padding: 20px;
  transition: 0.3s;
}

.input-label:hover {
  background: grey;
  cursor: pointer;

}

.fa {
  margin-right: 10px;
}

#file {
  display: none;
}









/* 
The container box is relative so we can position stuff inside of it 
*/

.image-box {
  position: relative;
}

/*
The background and overlay need to be absolutely positioned
*/
.image-box__background,
.image-box__overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

/* 
The background image div sizes and positions the background itself.
It's also at the bottom-most position in our "div stack" (z-index 1)

We set the image url via a CSS custom property, that's set via the style attribute in our HTML
*/
.image-box__background {
  background: url("../../img/offset-printing-3562696_1280\ \(2\).jpg") center center no-repeat ;
  background-size: cover;
  z-index: 1
}

/* 
The overlay div is just a colored element with some opacity.
It's above the background image in our stack, so it appears to 
darken the image 
*/
.image-box__overlay {
  background: rgba(0, 0, 0, 0.25);
  z-index: 2;
}

/* 
The content div is at the top of our stack. 
We'd probably add some padding or flexbox properties here as well, 
to place the content appropriately
*/
.image-box__content {
  position: relative;
  z-index: 3;
  /* Finally, style and place the content */
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;

  
}
 





@media (min-width: 992px) and (max-width: 1199px) {



  .footer-top {
      padding: 40px 0 20px 0;
  }

  .footer-bottom {
      padding: 0 0 40px 0;
  }

}

@media (min-width: 768px) and (max-width: 991px) {

  .footer-top {
      padding: 40px 0 20px 0;
  }

  .footer-bottom {
      padding: 0 0 40px 0;
  }

  .footer-contact i {
      padding-right: 5px;
  }

}

@media (max-width: 767px) {


  .footer-top {
      padding: 40px 0 20px 0;
      text-align: center;
  }

  .footer-bottom {
      padding: 0 0 40px 0;
  }

  .footer-contact i {
      padding-right: 5px;
  }

}




/* flexslider */
.flex-control-paging li a {
	background: #888;
}


.testimonial span.author a {
	color: #888;
}



/*===========================
  --- Flex Slider ----
=========================== */

section.featured {
	background: #fff;
}

 /* inner heading */
section.featured.inner {
	background: #fff;
	padding: 150px 0 50px;
}


/* --- Flexslider --- */
.flexslider {
	margin: 0;
	background: 0;
	border: none;
	box-shadow: none;
	-webkit-box-shadow: none;
}

.flex-control-paging li a {
	width: 8px;
	height: 8px;
}

.flex-control-paging li a.flex-active {
	background: #888;
}

.flex-control-nav {
	bottom: -25px;
}

.flexslider .slides img {
	width: auto;
	display: inline;
}

.flex-direction-nav a {
	display: block;
	width: 50px;
	height: 98px;
	margin: -29px -20px 0;
	position: absolute;
	top: 30%;
	z-index: 10;
	overflow: hidden;
	opacity: 0;
	cursor: pointer;
	color: #888;
	
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
}
.flex-direction-nav .flex-next {
	right: -70px;
	background: url(../img/arrow_large_right.png) no-repeat top left;
}

.flex-direction-nav .flex-prev {
	left: -70px;
	background: url(../img/arrow_large_left.png) no-repeat top left;
}

.flex-direction-nav a.flex-next:before {
	content: none !important;
}

/* removing default arrows */
.flex-direction-nav a:before {
	content: none !important;
}






  





  
  
    
  
  

 


      @media(max-width: 768px) {
        body {
          padding: 0;
    
        }
  
       
      }



/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
  
  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  

  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
 h5,h3{
   text-align: center;
 }
 
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  h5,h3{
    text-align: center;
  }
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  h5,h3{
    text-align: center;
  }
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  h5,h3{
    text-align: center;
  }
  
}

   
  
  
  
  
